*.pyc
haarcascades/haarcascade_eye_tree_eyeglasses.xml
haarcascades/haarcascade_eye.xml
haarcascades/haarcascade_frontalface_alt2.xml
haarcascades/haarcascade_frontalface_alt_tree.xml
haarcascades/haarcascade_frontalface_alt.xml
haarcascades/haarcascade_frontalface_default.xml
haarcascades/haarcascade_fullbody.xml
haarcascades/haarcascade_lefteye_2splits.xml
haarcascades/haarcascade_lowerbody.xml
haarcascades/haarcascade_mcs_eyepair_big.xml
haarcascades/haarcascade_mcs_eyepair_small.xml
haarcascades/haarcascade_mcs_leftear.xml
haarcascades/haarcascade_mcs_lefteye.xml
haarcascades/haarcascade_mcs_mouth.xml
haarcascades/haarcascade_mcs_nose.xml
haarcascades/haarcascade_mcs_rightear.xml
haarcascades/haarcascade_mcs_righteye.xml
haarcascades/haarcascade_mcs_upperbody.xml
haarcascades/haarcascade_profileface.xml
haarcascades/haarcascade_righteye_2splits.xml
haarcascades/haarcascade_smile.xml
haarcascades/haarcascade_upperbody.xml
haarcascades/lbpcascade_profileface.xml
Logs/instagramVideoPaths.txt
Logs/instaLongSampling.txt
Logs/instaSampledThirdsFaces.pk
Logs/instaSampling.txt
Logs/vineVidPaths.txt
Logs/aesthetic_median_sampled.csv
Logs/insta6000AesMedian.csv
Logs/insta6000_ANPs.pk
Logs/insta6000_probs.csv
Logs/insta6000SampledAesthetic.csv
Logs/insta6000SampledAesthetic_df.csv
Logs/instaFaceCounts.pk
Logs/Insta_features_sampled_ordered.csv
Logs/instaMedianSenti.csv
Logs/instaPop_audio.csv
Logs/instaSample6000stats.json
